// navba
.awal {
    background: $black;
    text-transform: uppercase;
    color: #ffffff;
    align-items: center;
}

.nomor {
    color: $danger;
}

// prduk
.produk {
    background: #fad7a0;
    margin-top: 3em;
    position: relative;
    font-weight: bold;

    .title {
        font-size: 40px;
        position: absolute;
        top: 1.6rem;
    }

    .title1 {
        font-size: 5em;
        font-weight: bold;
        font-family: $font1;
    }

    .tulisan_awal {
        font-family: $headings-font-family;
        font-size: 1em;
    }

    .tulisan_spanyol {
        font-family: "Gill Sans";
        color: $coklat_abu;
        font-size: 1.3em;
    }

    .btn_shop {
        margin-top: 2em;
        margin-bottom: 4em;
        height: 3em;
    }

    .gbr-produk {
        width: 600px;
        height: 600px;
        position: absolute;
        top: -29rem;
        left: 50rem;
        z-index: 1;
    }

    .btn_contact {
        position: absolute;
        top: -1.8rem;
        left: 80rem;
        width: 10em;
        height: 4em;
        border-radius: 2rem;
        z-index: 1;
    }

    .btn_love {
        background: $black;
        position: absolute;
        top: 1rem;
        left: 2rem;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    .bg_hati {
        width: 2.3em;
        height: 2em;
        position: absolute;
        top: 1.5rem;
        left: 2.4rem;
        cursor: pointer;
        z-index: 3;
    }

    .gbr-produk3 {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1rem;
        left: 2rem;
        z-index: 1;
    }
}

.produk2 {
    margin-top: 10em;
    position: relative;
    background: #ffffff;

    .card {
        width: 24rem;
        margin-left: 3rem;
    }

    .card-header {
        font-family: $font2;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .card-title {
        font-family: $font2;
        font-weight: bold;
        font-size: 1rem;
    }

    .card-text {
        font-family: $font2;
        cursor: pointer;
    }

    .garis {
        width: 7.3rem;
        font-weight: bold;
        background: $black;
    }

    .refuse_gbr {
        width: 25rem;
        height: 23rem;
    }

    .refuse_gbr1 {
        width: 25rem;
        height: 23rem;
    }

    .tulisan_jepang {
        font-size: 1.3rem;
    }
}

.tombol_kiri {
    background: #ffffff;
    position: relative;

    .beli {
        position: absolute;
        left: 7.3rem;
        top: 26rem;
    }

    .garis2 {
        width: 7.3rem;
        font-weight: bold;
        background: $black;
    }

    .icon_prev {
        width: 3rem;
    }

    .icon_prev2 {
        width: 3rem;
    }
}

.produk3 {
    background: #f8efba;
    height: 44rem;
    position: relative;

    .produk3_gbr1 {
        width: 34rem;
        height: 34rem;
        position: absolute;
        left: 5rem;
        top: 6rem;
    }

    .produk3_gbr2 {
        width: 34rem;
        height: 34rem;
        position: absolute;
        left: 3rem;
        top: 6rem;
    }

    .card_produk3 {
        border: none;
        background: none;
        position: absolute;
        left: 32rem;
        top: 12rem;
    }

    .produk3_btnshop {
        width: 10rem;
        height: 3rem;
    }

    .card_produk4 {
        border: none;
        background: none;
        position: absolute;
        left: 30rem;
        top: 12rem;
    }
}

.keunggulan {
    background: #f8efba;
    padding: 2rem;
    margin-bottom: 3rem;
}

.footer {
    background: $black;
    color: #eeeeee;
    font-family: $font3;
    position: relative;

    .garis_footer {
        background: #f8efba;
        margin-right: 6rem;
        height: 0.2rem;
        border-radius: 30px;
    }

    .garis_footer1 {
        background: #eeeeee;
        width: 100%;
        height: 0.1rem;
    }

    .sign_up {
        margin-top: 1rem;
        position: absolute;
        left: 22rem;
        cursor: pointer;
    }

    .sign_up1 {
        margin-top: 1rem;
        position: absolute;
        left: 27rem;
    }

    .bca {
        position: absolute;
        width: 7rem;
        height: 2.3rem;
        right: 9rem;
        bottom: 2.9rem;
        cursor: pointer;
    }

    .bca1 {
        width: 3.2rem;
        height: 3rem;
        position: absolute;
        right: 4rem;
        bottom: 2.3rem;
        cursor: pointer;
    }

    .footer_text {
        text-transform: uppercase;
    }
}

@include media-breakpoint-only(xs) {
    .awal {
        font-size: 10px;
    }

    .produk {
        height: 40rem;
        font-size: 12px;

        .gbr-produk {
            width: 250px;
            height: 300px;
            top: -10rem;
            left: 3.5rem;
            z-index: 1;
            border-radius: 10px;
        }

        .btn_contact {
            top: 8rem;
            left: 8rem;
            width: 8em;
            height: 3em;
        }

        .btn_love {
            top: 13rem;
        }

        .bg_hati {
            top: 13.8rem;
            left: 2.8rem;
        }

        .title {
            font-size: 1.4em;
        }

        .title1 {
            font-size: 2.3em;
        }
    }

    .produk2 {
        position: relative;

        .refuse_gbr {
            width: 14rem;
            height: 10rem;
        }

        .refuse_gbr1 {
            margin-top: 1rem;
            width: 14rem;
            height: 10rem;



        }

        .card {
            margin-left: 0.3rem;
            width: 20rem;
        }

        .card-header {
            font-size: 1rem;
        }

        .tulisan_jepang {
            font-size: 1rem;
        }

        .card-title {
            font-size: 0.8rem;
        }
    }

    .tombol_kiri {
        position: relative;
        height: 170rem;

        .icon_prev {
            position: absolute;
            top: 10.5rem;
        }

        .slider {
            height: 170rem;

            .card_slide2 {
                position: absolute;
                top: 40rem;
                left: -0.1rem;
                height: 2rem;
            }

            .card_slide3 {
                position: absolute;
                top: 76rem;
                left: -1rem;
                height: 2rem;
            }

            .card_slide4 {
                position: absolute;
                top: 113rem;
                left: -1rem;
                height: 2rem;
            }

            h5 {
                right: 2rem;
                position: relative;
                font-size: 15px;
            }

            .beli {
                left: 5rem;
            }
        }
    }

    .produk3 {
        height: 70rem;

        .produk3_gbr1 {
            width: 14rem;
            height: 13rem;
            left: 4rem;
            top: 2rem;
        }

        .produk3_gbr2 {
            width: 14rem;
            height: 13rem;
            left: 4rem;
            top: 35rem;
        }

        .card_produk3 {
            left: 3rem;
            top: 16rem;
        }

        .produk3_btnshop {
            width: 10rem;
            height: 3rem;
        }

        .card_produk4 {
            left: 3rem;
            top: 48rem;
        }
    }

    .footer {
        .sign_up {
            left: 10rem;
        }

        .sign_up1 {
            left: 14rem;
        }

        .bca {
            top: 61rem;
            position: absolute;
            left: 11rem;
        }

        .bca1 {
            top: 61rem;
            position: absolute;
            left: 19rem;
        }
    }
}

@include media-breakpoint-only(sm) {
    .awal {
        font-size: 10px;
    }

    .produk {
        height: 30rem;
        font-size: 12px;

        .gbr-produk {
            width: 18rem;
            height: 20rem;
            top: -9rem;
            left: 22rem;
            z-index: 1;
            border-radius: 10px;
        }

        .btn_contact {
            top: 3rem;
            left: 35rem;
            width: 8em;
            height: 3em;
        }

        .btn_love {
            top: 6rem;
        }

        .bg_hati {
            top: 6.7rem;
            left: 2.7rem;
        }

        .title {
            font-size: 1.4em;
        }

        .title1 {
            font-size: 2.3em;
        }
    }

    .produk2 {
        .refuse_gbr {
            width: 18rem;
            height: 14rem;
            position: relative;
            left: 8rem;
        }

        .refuse_gbr1 {
            margin-top: 1rem;
            width: 18rem;
            height: 14rem;
            position: relative;
            left: 8rem;
        }

        .card {
            margin-left: 10rem;
            width: 20rem;
        }

        .card-header {
            font-size: 1rem;
        }

        .tulisan_jepang {
            font-size: 1rem;
        }

        .card-title {
            font-size: 0.8rem;
        }
    }

    .produk3 {

        .produk3_gbr1 {
            width: 18rem;
            height: 18rem;
            left: 2rem;
            top: 6rem;
        }

        .produk3_gbr2 {
            width: 18rem;
            height: 18rem;
            left: 23rem;
            top: 6rem;
        }

        .card_produk3 {
            left: 1rem;
            top: 25rem;
        }

        .produk3_btnshop {
            width: 10rem;
            height: 3rem;
        }

        .card_produk4 {
            left: 22rem;
            top: 25rem;
        }
    }


    .tombol_kiri {
        position: relative;
        height: 170rem;

        .icon_prev {
            position: absolute;
            top: 10.5rem;
        }

        .slider {
            height: 170rem;


            .card_slide1 {
                position: absolute;
                left: 8rem;
                height: 2rem;
            }

            .card_slide2 {
                position: absolute;
                top: 40rem;
                left: 8rem;
                height: 2rem;
            }

            .card_slide3 {
                position: absolute;
                top: 76rem;
                left: 8rem;
                height: 2rem;
            }

            .card_slide4 {
                position: absolute;
                top: 113rem;
                left: 8rem;
                height: 2rem;
            }

            h5 {
                top: 1rem;
                left: 0.2rem;
                position: relative;
                font-size: 15px;
            }

            .beli {
                left: 7rem;
            }
        }
    }

    .footer {
        .sign_up {
            left: 27rem;
        }

        .sign_up1 {
            left: 32rem;
        }

        .bca {
            top: 55.7rem;
            position: absolute;
            left: 32rem;
        }

        .bca1 {
            top: 55.7rem;
            position: absolute;
            left: 40rem;
        }
    }
}

@include media-breakpoint-only(md) {
    .awal {
        font-size: 10px;
    }

    .produk {
        height: 30rem;
        font-size: 12px;

        .gbr-produk {
            width: 22rem;
            height: 25rem;
            top: -12rem;
            left: 33rem;
            z-index: 1;
            border-radius: 10px;
        }

        .btn_contact {
            top: 3rem;
            left: 49rem;
            width: 8em;
            height: 3em;
        }

        .btn_love {
            top: 6rem;
        }

        .bg_hati {
            top: 6.7rem;
            left: 2.7rem;
        }

        .title {
            font-size: 1.4em;
        }

        .title1 {
            font-size: 2.3em;
        }
    }

    .produk2 {
        .refuse_gbr {
            width: 18rem;
            height: 14rem;
            position: relative;
            left: 16rem;
        }

        .refuse_gbr1 {
            margin-top: 1rem;
            width: 18rem;
            height: 14rem;
            position: relative;
            left: 16rem;
        }

        .card {
            margin-top: 3rem;
            margin-left: 19rem;
            width: 20rem;
        }

        .card-header {
            font-size: 1rem;
        }

        .tulisan_jepang {
            font-size: 1rem;
        }

        .card-title {
            font-size: 0.8rem;
        }
    }

    .produk3 {

        .produk3_gbr1 {
            width: 23rem;
            height: 23rem;
            left: 5rem;
            top: 6rem;
        }

        .produk3_gbr2 {
            width: 23rem;
            height: 23rem;
            left: 33rem;
            top: 6rem;
        }

        .card_produk3 {
            left: 3.8rem;
            top: 28rem;
        }

        .produk3_btnshop {
            width: 10rem;
            height: 3rem;
        }

        .card_produk4 {
            left: 32rem;
            top: 28rem;
        }
    }

    .tombol_kiri {
        position: relative;
        height: 100rem;

        .icon_prev {
            position: absolute;
            top: 10.5rem;
        }

        .slider {
            height: 100rem;

            .card_slide2 {
                position: absolute;
                top: 0rem;
                left: 30rem;

            }

            .card_slide3 {
                position: absolute;
                top: 40rem;
                left: -1rem;

            }

            .card_slide4 {
                position: absolute;
                top: 40rem;
                left: 30rem;

            }

            h5 {
                top: 1rem;
                left: 0.1rem;
                position: relative;
                font-size: 15px;
            }

            .beli {
                left: 7rem;
            }
        }
    }

    .footer {
        .sign_up {
            left: 42rem;
        }

        .sign_up1 {
            left: 47rem;
        }

        .bca {
            top: 55.7rem;
            position: absolute;
            left: 44rem;
        }

        .bca1 {
            top: 55.7rem;
            position: absolute;
            left: 53rem;
        }
    }
}

@include media-breakpoint-only(lg) {
    .awal {
        font-size: 10px;
    }

    .produk {
        height: 25rem;
        font-size: 12px;

        .gbr-produk {
            width: 23rem;
            height: 30rem;
            top: -19rem;
            left: 35rem;
            z-index: 1;
            border-radius: 10px;
        }

        .btn_contact {
            top: -2rem;
            left: 54rem;
            width: 8em;
            height: 3em;
        }

        .btn_love {
            top: 1.5rem;
        }

        .bg_hati {
            top: 2.4rem;
            left: 2.8rem;
        }

        .title {
            font-size: 1.4em;
        }

        .title1 {
            font-size: 2.3em;
        }
    }

    .produk2 {
        margin-top: 14rem;
        margin-right: 3rem;

        .refuse_gbr {
            width: 16rem;
            height: 14rem;
        }

        .refuse_gbr1 {
            width: 16rem;
            height: 14rem;
        }

        .card {
            position: relative;
            left: -4rem;
        }

        .card-header {
            font-size: 1rem;
        }

        .tulisan_jepang {
            font-size: 1rem;
        }

        .card-title {
            font-size: 0.8rem;
        }
    }

    .produk3 {


        .produk3_gbr1 {
            width: 25rem;
            height: 25rem;
            left: 5rem;
            top: 6rem;
        }

        .produk3_gbr2 {
            width: 25rem;
            height: 25rem;
            left: 3rem;
            top: 6rem;
        }

        .card_produk3 {
            left: 10rem;
            top: 30rem;
        }

        .produk3_btnshop {
            width: 10rem;
            height: 3rem;
        }

        .card_produk4 {
            left: 10rem;
            top: 30rem;
        }
    }


    .tombol_kiri {
        position: relative;
        height: 94rem;

        .icon_prev {
            position: absolute;
            left: 1rem;
        }

        .slider {
            height: 94rem;

            .card_slide2 {
                position: absolute;
                top: 0.4rem;
                left: 35rem;

            }

            .card_slide3 {
                position: absolute;
                top: 40rem;
                left: -1rem;
                height: 2rem;
            }

            .card_slide4 {
                position: absolute;
                top: 40rem;
                left: 35rem;
                height: 2rem;
            }

            h5 {
                right: 2rem;
                position: relative;
                font-size: 15px;
            }

            .beli {

                left: 7em;
            }
        }
    }

    .footer {
        .sign_up {
            left: 10rem;
        }

        .sign_up1 {
            left: 14rem;
        }

        .bca {
            top: 37rem;
            position: absolute;
            left: 48rem;
        }

        .bca1 {
            top: 37rem;
            position: absolute;
            left: 58rem;
        }
    }
}

@include media-breakpoint-only(xl) {}