@include media-breakpoint-only(lg) {
    .judul{
        font-size: 44px;
    }
    .sub{
        font-size: 12px;
    }
    .bar{
        font-size: 10px;
    }
    .sale{
        font-size: 12px;
    }
    .nav-link{
        font-size: 10px;
    }
    .gbr{
        width: 25px;
    }
    .bag{
        font-size: 16px;
    }
}
@include media-breakpoint-only(md) {
    .judul{
        font-size: 42px;
    }
    .sub{
        font-size: 9px;
    }
    .bar{
        font-size: 8px;
    }
    .sale{
        font-size: 9px;
    }
    .nav-link{
        font-size: 8px;
    }
    .gbr{
        width: 22px;
    }
    .bag{
        font-size: 12px;
    }
}
@include media-breakpoint-only(sm) {
    .judul{
        font-size: 40px;
    }
    .sub{
        font-size: 10px;
    }
    .bar{
        font-size: 10px;
    }
    .sale{
        font-size: 7px;
    }
    .nav-link{
        font-size: 6px;
    }
    .gbr{
        width: 20px;
    }
    .bag{
        font-size: 8px;
    }
}
@include media-breakpoint-only(xs) {
    .judul{
        font-size: 38px;
    }
    .sub{
        font-size: 8px;
    }
    .bar{
        font-size: 8px;
    }
    .sale{
        font-size: 7px;
    }
    .nav-link{
        font-size: 6px;
    }
    .gbr{
        width: 20px;
    }
    .bag{
        font-size: 7px;
    }
}