.judul{
    font-weight: bold;
    color: black;
    font-size: 44px;   
    font-family: $heading-judul;
}
.sub{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}
.bar{
    font-size: 12px;
    font-weight: bold;
    color: grey
}
.sale{
    color:orangered;
    font-size: 11px;
    font-weight: bold;
}
.nav-link{
    font-size: 10px;
    font-weight: bold;
    color: grey
}
.fluid{
    padding: 5px, 5px;
}
.gbr{
    width: 25px;
}
.bag{
    font-size: 16px;
}
.bg{
    background-color: white!important;
}
.togg{
    padding: 0px 0px;
}
