.shp{
    font-size: 10px;
    font-weight: bold;
    color: black;
}
.new{
    font-size: 18px;
    font-weight: bold;
}
.sz-gbr{
    width: 70%;
}
.ns{
    width: 50%;
}
.pt{
    color: grey;
    font-size: 14px;
}
.dc{
    font-size: 12px;
    color: black;
}
.arr{
    color: black;
}