// import font 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600i|Montserrat|Assistant:700|Archivo:700|Nunito:600|&display=swap");

$blue: #494AA0;
$light-blue: #0093FF;
$dark-blue: #2E3092;
$orange: #E77817;
$red: #FF4545;
$dark-red: #C12525;
$grey: #CECECE;
$dark-grey: #868686;
$light-grey: #f2f2f2;
$coklat_abu:#7f8c8d;
$dark-grey-accent : rgba($dark-grey, .87);
$black: #212121;
$black-accent: rgba($black, .87);

// override bootstrap 4 color
$primary: $blue;
$danger: $red;
$warning: $orange;

// override bootstrap Typography
// this font will be de default font 
$font-family-base: -apple-system,
BlinkMacSystemFont,
'Montserrat',
sans-serif;

$font1:'Assistant',
sans-serif;
$font2: 'Archivo',
sans-serif;
$font3:'Nunito',
sans-serif;

$headings-font-family: 'Montserrat',
sans-serif;
$heading-judul: 'Open Sans',
sans-serif;
$headings-color: $black !default;
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-semiBold: 600 !default;